.coupon {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;

  /* padding:15px; */

  border: 1.5px #d3d3d3 solid;
  background: #ffffff;
}

.coupon > div {
  padding: 15px;
}

.coupon__image {
  flex-grow: 5;
  width: 15%;
  max-width: 120px;
}

.coupon__image img {
  width: 100%;
}

.coupon__details {
  flex-grow: 1;
  width: 55%;
}

.coupon__details div {
  display: inline-block;
  padding: 10px;
}

.coupon__details .type {
  font-size: 0.8rem;
  font-weight: bold;
  color: #602d99;
}

.coupon__details .category {
  font-size: 0.8rem;
  color: gray;
}

.coupon__details .offer {
  display: block;
  font-size: 1.5em;
  color: #555555;
}

.coupon__buttons {
  width: 30%;
}

.coupon__buttons .showButton {
  font-size: 0.9rem;
  font-weight: bold;
  line-height: 3rem;
  /* margin:10px; */

  height: 50px;
  text-align: center;
  color: white;
  border-radius: 3px;
  background: #1896bc;
}

.coupon__buttons .saveButton {
  font-size: 0.8rem;
  margin: 10px;
  text-align: right;
  color: gray;
}

.coupon__moreDetails {
  width: 100%;
}

@media screen and (max-width: 600px) {
  .coupon__buttons,
  .coupon__moreDetails {
    display: none;
  }
}
