.coupon>div{
	width: 100%;
}
.coupon{
	border:1px solid #e7e7e7;
}
.sortBy-title{
	width:auto;
	margin-top: 0.7%;
}
.View-Group{
	margin:2% 0;
}
.sort-button{
	border-radius: 25px;
	font-size: 14px;
}
.sortBy>div>button{
	margin-top: 5%;
}
.sort-button-list{
	position: relative;
	top:5px;
}
.submit-a-coupon{
	position: relative;
	right:-5%;
	width:auto;
}