.left-section{
    font-family: Avenir Next,Calibri,Helvetica,Roboto,sans-serif;
}
.coupon>div{
	width: 100%;
	padding: 1%;
}
.stats>ul{
	list-style: none;
}
.input-checkbox-label{
	line-height: 35px;
}
.input-checkbox-label>label>input{	
	width: 25px;
	height: 25px;
	background-color:white;
}
.checkbox-title{
	padding-left: 20x;
	position: relative;
}
.about-content{
	font-size: 14px;
}
.right-align{
	text-align: right;
}