.coupon {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
  /* padding:15px; */
  border: 1.5px #d3d3d3 solid;
  margin-bottom: 17px;
}

.coupon > div {
  padding: 15px;
}

.coupon_image {
  width: 15%;
  max-width: 120px;
  flex-grow: 5;
}

.coupon_image img {
  width: 100%;
}

.coupon_details {
  width: 55%;
  flex-grow: 1;
}

.coupon_details div {
  display: inline-block;
  padding: 10px;
}

.coupon_details .type {
  color: #602d99;
  font-weight: bold;
  font-size: 0.8rem;
}

.coupon_details .category {
  color: gray;
  font-size: 0.8rem;
}

.coupon_details .offer {
  display: block;
  font-size: 1.5em;
  color: #555555;
}

.coupon_buttons {
  width: 30%;
}

.coupon_buttons .showButton {
  /* margin:10px; */
  height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 3rem;
  color: white;
  border-radius: 3px;
  background: #1896bc;
}

.coupon_buttons .saveButton {
  color: gray;
  font-size: 0.8rem;
  text-align: right;
  margin: 10px;
}

.coupon_moreDetails {
  width: 100%;
  height: 50px;
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1.1px solid #d3d3d3;
  color: #60b7e6;
}

@media screen and (max-width: 600px) {
  .coupon_buttons {
    display: none;
  }
}
