.divider__content {
    display: inline-block;
    padding: 0 1em;
    color: #d3d3d3;
}
.divider:after, .divider:before {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #f1f1f1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.upper-card{
    margin-bottom: 50px;
    margin-top:35px;
}
svg{
    background-color: aliceblue;
    border:2px solid white;
}
svg>path{
    fill: blue;
}