.comments {
  color: black;
}

.comments__add-form {
  border-bottom: 1px solid gray;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 25px;
  width: 100%;
}

.comments__add-form input[type="text"],
.comments__add-form textarea {
  border: 1px solid gray;
  border-radius: 3px;
  font-family: "Lato", Calibri, Helvetica, Roboto, sans-serif;
  font-size: 0.9rem;
  height: 40px;
  margin: 10px;
  padding: 10px;
  width: 60%;
}

.comments__add-form textarea {
  height: 100px;
  resize: none;
}

/* For checkbox */
.comments__add-form label {
  margin-top: 12px;
  text-align: center;
}

.comments__posted {
  max-height: 200px;
  overflow-y: scroll;
}
