.login {
  align-items: center; /* Vertically centering child elements */
  display: flex;
}

.login__photo {
  font-size: 2rem; /* Enlarging user logo */
  padding-right: 15px;
}

.login__details_login {
  font-weight: bold;
}

.login__details_cashback {
  font-size: 0.7rem;
  padding-top: 2px;
}
