.trending-item-small {
  flex: 80px;
  margin: 10px;
  position: relative;
}

.trending-item-small__logo-img {
  width: 100%;
}

.trending-item-small__description {
  padding: 10px;
  text-align: center;
}
