.TrendingItemSmall{
    display: inline-block;
    max-width: 150px;
    position: relative;
    margin:10px;
}

.TrendingItemSmall__companyImg{
    display: inline-block;
    width:100%;
}

.TrendingItemSmall__Descriptions{
    text-align: center;
}

.TrendingItemSmall__dealDescription{
    padding: 10px;
}

