.trendingItemSmall {
  display: inline-block;
  max-width: 150px;
  position: relative;
  margin: 10px;
}

.trendingItemSmall__companyImg {
  display: inline-block;
  width: 100%;
}

.trendingItemSmall__descriptions {
  text-align: center;
}

.trendingItemSmall__dealDescription {
  padding: 10px;
}
