/*.right-section-container{
    width:100%;
}*/
.divider {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
}
.divider__content {
    display: inline-block;
    padding: 0 1em;
    color: #d3d3d3;
}
.divider:after, .divider:before {
    content: "";
    display: inline-block;
    height: 1px;
    background-color: #f1f1f1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.upper-card{
    margin-bottom: 5px;
    margin-top:15px;
    padding: 20px 0px;
}
svg{
    background-color: white;
}
svg>path{
    fill: blue;
}
.lower-card-content{
    margin-left:10%;
    margin-right:10%;
    padding-bottom: 10%; 
}
.section{
    padding-top: 7%;
}
.field-text{
    font-family: Avenir Next,Calibri,Helvetica,Roboto,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1;
    color:#fff;
}
.upper-card>div{
    text-align: center;
}
.upper-card-text{
    color: #555;
    font-family: Avenir Next,Calibri,Helvetica,Roboto,sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
}
.input-group-addon{
    background-color: white;
}