.coupon-details {
  border-top: 1.1px solid #d3d3d3;
  color: #60b7e6;
  display: flex;
  flex-wrap: wrap;
  padding-top: 10px;
  width: 100%;
}

.coupon-details__head {
  align-items: center;
  display: flex;
  width: 100%;
}

.coupon-details__head__more {
  flex-grow: 1;
}

.coupon-details__head__like {
  font-size: 1.5rem;
  text-align: right;
}

/* Like buttons hover animation */
.coupon-details__head__like i:hover {
  color: rgb(204, 69, 69);
}

/* dropdown container */
.coupon-details__dropdown {
  border: 1px solid gray;
  display: none;
  margin: 20px;
  width: 100%;
}

.coupon-details__dropdown__tab-links {
  align-items: center;
  background: #eee;
  border-bottom: 1px solid gray;
  color: gray;
  display: flex;
  height: 50px;
  padding-left: 20px;
  text-align: center;
}

.coupon-details__dropdown__tab-links a {
  padding: 10px;
}

.dropdown__tab-links--active {
  border-bottom: solid 2px purple;
  color: purple;
  font-weight: bold;
}

/* Actual Tabs Container */
.coupon-details__dropdown__tabs {
  margin: 20px;
}

/* Details Tab - Each Line Container (Ends, Exclutions, Details...)*/
.dropdown__tabs__details div {
  color: black;
  display: flex;
  margin: 20px;
}

.dropdown__tabs__details .details__key {
  display: inline-block;
  font-weight: bold;
  min-width: 80px;
}

.dropdown__tabs__details .details__value {
  flex: 1;
  padding-left: 10px;
}
