.couponDetails {
  border-top: 1.1px solid #d3d3d3;
  color: #60b7e6;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding-top: 10px;
  width: 100%;
}

.couponDetails__head {
  align-items: center;
  display: flex;
  width: 100%;
}

.couponDetails__head__like {
  flex-grow: 10;
  font-size: 1.5rem;
  text-align: right;
}

.couponDetails__expand {
  border: 1px solid gray;
  display: none;
  margin: 20px;

  /* background: rebeccapurple; */

  width: 100%;
}

.couponDetails__expand__tabs {
  align-items: center;
  background: #eee;
  border-bottom: 1px solid gray;
  color: gray;
  display: flex;
  height: 50px;
  text-align: center;
}

.couponDetails__expand__tabs a {
  display: inline-block;
  width: 100px;
}

.couponDetails__expand__tabsInfo {
  margin: 20px;
}

.couponDetails__expand__tabsInfo__details div {
  color: black;
  margin: 20px;
}

.couponDetails__expand__tabsInfo__details div span {
  font-weight: bold;
  padding-right: 15px;
}

.active {
  color: purple;
  font-weight: bold;
}
