.mobileMenu ul {
  display: none;
  background: white;
  color: black;
  position: absolute;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  height: 200%;
  padding: 0;
  font-size: 0.9rem;
  left: 0;
  z-index: 9999;
}

.mobileMenu li {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  min-height: 50px;
}

.mobileMenu__list__login {
  height: 70px;
  border-bottom: gray solid 2px;
}

.mobileMenu li:hover {
  background: rgba(0, 0, 0, 0.3);
}

.mobileMenu {
  display: none;
}

@media (max-width: 800px) {
  .mobileMenu {
    display: initial;
    font-size: 2.5rem;
  }
}
