.trending__title {
  font-size: 1.5rem;
  text-align: center;
  margin: 10px 0 20px 0;
}

.trending__bigGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.trending__smallGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.trending__bigGrid > .trendingItemBig {
  flex: 220px;
}

.trending__smallGrid > .trendingItemSmall {
  flex: 80px;
}

@media screen and (max-width: 630px) {
  .trending__smallGrid {
    display: none;
  }
}
